.CustomForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 30%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.Label {
  width: 80%;
  margin-top: 10px;
}

.Button {
  margin-bottom: 10px;
}
